.section_container {
  margin: 0;
  padding: 0;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 56px 10px 15px 10px;
}

#mainBody section {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-shadow: var(--shadow);
  border-radius: 10px;
  display: flex;
}

#hook_content {
  padding: 40px;
  width: 50%;
  position: relative;
}

#hook_text {
  color: var(--color4);
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

#hook_text span {
  font-family: var(--fontFamily2);
  font-weight: 900;
  color: var(--color1);
  margin: 0;
  padding: 0;
}

#usercount {
  font-size: 3rem;
  font-weight: bold;
  color: var(--color4);
  margin: 0;
  padding: 0;
}

#count {
  color: var(--color1);
  height: 3rem;
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

#sign_up {
  margin: 0;
  margin-top: 10px;
}

#signup_input input {
  width: 200px;
  border: none;
  background: var(--color3);
  border-radius: 5px;
}

#data_content {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.card {
  width: 450px;
  background: var(--card_color);
  height: 300px;
  box-shadow: var(--shadow);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#recent_users p {
  color: white;
  font-size: 2.5rem;
  margin: 0;
}

#table_container {
  margin: 0;
  padding: 0;
  height: 200px;
}

table {
  color: white;
}

th,
td {
  width: 210px;
  min-width: 210px;
  text-align: center;
}

th {
  color: var(--color5);
  font-size: 1.1rem;
  font-weight: 300;
}

#analytics {
  flex-direction: row;
}

#analytics p span {
  color: var(--color1);
  font-family: var(--fontFamily2);
  font-weight: 900;
  margin: 0;
  padding: 0;
}

#analytics p {
  color: var(--color4);
  margin: 0 10px 0 0;
  padding: 0;
  font-size: 1.91rem;
}

#analytics img {
  height: 100%;
  margin: 0;
  padding: 0;
}

#useCase {
  position: relative;
  justify-content: center;
  align-items: center;
}

.heading {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  color: var(--color4);
  font-weight: 700;
}

.heading p {
  font-size: 3rem;
}

.usecase-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.usecase-box img
{
  max-width: 600px;
  width: 100%;
  display: block;
}

#to {
  position: absolute;
  transform: translateX(-60px);
}

#to img {
  width: 200px;
}


#physical p,
#digital p {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--color5);
}

#about-section {
  position: relative;
  justify-content: space-around;
  align-items: center;
}

#aboutinfo,
#qualification {
  width: 400px;
  height: 400px;
  background: var(--card_color);
  box-shadow: var(--shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

#my_image {
  margin: 0;
  padding: 0;
  border-radius: 50%;
  background: var(--color3);
  border: 10px solid var(--color1);
  height: 300px;
}

#aboutinfo span {
  color: var(--color1);
}

#imgandname {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#imgandname p {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--color5);
}

#aboutinfo p,
#qualification p {
  font-size: 1.5rem;
  color: var(--color4);
  text-align: center;
}

#qualification img {
  box-shadow: var(--shadow);
  border-radius: 10px;
  height: 80px;
  margin: 5px;
  padding: 10px;
  transition: 0.2s ease-in-out;
}

#qualification img:hover {
  transform: scale(1.1);
}

#qualification {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}

#row1,
#row2,
#row3 {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.html {
  margin: 0;
  padding: 0;
  height: 0;
  transform: translateY(-30px);
}

@media screen and (max-width : 440px){
  #mainBody .section_container #intro
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #hook_content
  {
    margin: 0;
    width: 100%;
    padding: 0;
  }

  #hook_content * p{
    font-size: 2.5rem;
  }

  #usercount{
    font-size: 2rem;
  }

  #data_content{
    flex-grow: 1;
    display: grid;
    margin: 0;
    width: 100%;
    grid-template-columns: 1fr;
    padding: 0;
  }

  .card{
    display: none;
  }

  #recent_users
  {
    display: none;
  }

  #about_scroller #about-section
  {
    display: flex;
    flex-direction: column-reverse;
    justify-content: end;
    align-items: center;
  }

  #about_text
  {
    transform: translateY(-20px);
  }

  #my_image
  {
    height: 200px;
    border : 5px solid var(--color1);
  }

  #imgandname p
  {
    font-size: 2rem;
  }

  #aboutinfo
  {
    height: 200px;
    min-width: 300px;
    width: auto;
  }

  #aboutinfo p
  {
    font-size: 1rem;
  }
  
  #qualification
  {
    display: none;
  }
}

@media screen and (min-width:420px) and (max-width: 600px) {
  #mainBody .section_container #intro
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #hook_content
  {
    margin: 0;
    width: 100%;
    padding: 0;
  }

  #hook_content * p{
    font-size: 2.5rem;
  }

  #usercount{
    font-size: 2rem;
  }

  #data_content{
    flex-grow: 1;
    display: grid;
    margin: 0;
    width: 100%;
    grid-template-columns: 1fr;
    padding: 0;
  }

  .card{
    width: auto;
  }

  #recent_users
  {
    display: none;
  }

  #about_scroller #about-section
  {
    display: flex;
    flex-direction: column-reverse;
    justify-content: end;
    align-items: center;
  }

  #my_image
  {
    height: 200px;
    border : 5px solid var(--color1);
  }

  #imgandname p
  {
    font-size: 2rem;
  }

  #aboutinfo
  {
    height: 300px;
    min-width: 300px;
    width: auto;
  }
  
  #qualification
  {
    display: none;
  }

}

@media screen and (min-width:600px) and (max-width:990px) {
  #mainBody .section_container #intro
  {
    display: flex;
    flex-direction: column;
  }

  #hook_content
  {
    margin: 0;
    width: 100%;
    padding: 0;
  }

  #hook_content div:nth-child(1)
  {
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #hook_content * p{
    font-size: 2.5rem;
  }

  #usercount{
    font-size: 2rem;
  }

  #data_content{
    flex-grow: 1;
    display: grid;
    margin: 0;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }

  .card{
    width : auto;
    overflow: hidden;
  }

  #recent_users p{
    font-size: 2.3rem;
  }

  th,
  td {
    min-width: 0;
    width : 300px;
    text-align: center;
  }

  #analytics
  {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #analytics img{
    width: 100%;
  }


}