:root {
    --color1: #45FFCA;
    --color2: #222831;
    --color3: #31363F;
    --color4: #fff;
    --color5: #37d7aa;
    --card_color: #272d37;
    --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

* {
    margin: 8px;
    padding: 10px;
    font-family: "Roboto Slab";
    background: none;
}

html {
    background: var(--color2);
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 10px;
}

#template {
    display: none;
}

p {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: black;
    font-size: 13.33px;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    border: none;
    width: 100px;
    background: var(--color1);
    border-radius: 5px;
}

button:hover {
    background: var(--color5);
}

input {
    color: var(--color4);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input:focus {
    outline: none;
    caret-color: var(--color1);
}


.container {
    display: flex;
    margin-top: 50px;
    width: 100%;
    flex-wrap: wrap;
}

.box {
    background: var(--color3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 204px;
    height: 200px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


#delete_button {
    height: 0px;
    margin: 0;
    padding: 0;
}

#delete_icon {
    height: 20px;
    width: 20px;
    margin: 0;
    padding: 0;
    fill: gray;
    transform: translate(96px, -195px);
    cursor: pointer;
}

#delete_icon:hover {
    fill: white;
}

#confirm_button {
    display: block;
    cursor: pointer;
    border: none;
    width: 80px;
    margin: 10px;
    background: var(--color1);
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
}

#cancel_button,
#decrease_button {
    background: #ff9945;
}

#confirm_button:hover {
    background: var(--color5);
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.name {
    color: var(--color1);
}

#amount {
    color: var(--color4);
    transform: translateY(-10px);
}

#add {
    cursor: pointer;
}

#plus {
    color: grey;
    font-size: 3rem;
}

#popup_background {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    backdrop-filter: blur(3px);
}

#popup_container {
    width: 350px;
    height: 350px;
    background: var(--color3);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    justify-content: center;
    align-items: center;
}

#popup_close_button {
    height: 25px;
    position: relative;
    top: -15px;
    left: 305px;
    cursor: pointer;
}

#command_text {
    color: var(--color4);
}

#popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transform: translateY(-50px);
}



#popup input {
    width: 250px;
    border-radius: 5px;
    border: none;
    background: var(--color2);
    color: var(--color4);
}

#name_input {
    display: inline;
}

#hidden_input {
    display: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--color3);
    border-radius: 10px;
}

/* Navbar */



/* edited */
#slider-menu{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#slide{
    height: 5px;
    margin: 0px;
    padding: 0px 20px;
    width: 100% ;
}
#slider{

    height: 2px;
    border-radius: 3px;
    margin: 0px 12.5px;
    padding: 0;
    width: 70px;
    background-color: #37d7aa;
    transition: all 0.3s ease-in-out;
}
/* end */

nav {
    display: flex;
    align-items: center;
    color: white;
    height: 35px;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background: var(--color2);
    z-index: 2;
}

#logo {
    font-family: "Merienda";
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 1.5rem;
    margin: 0 10px;
    padding: 0;
    user-select: none;
    cursor: pointer;
}

#logo img {
    height: 40px;
    margin: 0;
    padding: 0;
}

#menus {
    padding: 6px 10px;
    display: flex;
    margin: 0px;
}

#menus a {
    text-align: center;
    width: 75px;
    text-decoration: none;
    color: var(--color4);
    font-size: 1rem;
    cursor: pointer;
    padding: 0;
}

#menus a:hover {
    color: var(--color1);
}

#user_status {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 20px;
}

#search_icon {
    margin: 0;
    padding: 0;
    height: 0;
    width: 0;
}

#search {
    margin: 0;
    padding: 0;
}

#search_icon img {
    height: 20px;
    width: 20px;
    margin: 0;
    padding: 5px;
    background: var(--color2);
    border-radius: 50%;
    transform: translate(-29px, -15px);
    cursor: pointer;
}

#input_search {
    width: 200px;
    margin-right: 0;
    border: none;
    padding: 6px;
    padding-left: 15px;
    border-radius: 20px;
    background: var(--color3);
    color: var(--color4);
}

#user {
    display: flex;
    align-items: center;
    margin: 0 15px;
    padding: 0;
}

#user img {
    height: 25px;
    margin: 0;
    padding: 0;
}

#user_name {
    font-size: 15px;
    font-weight: 300;
    margin-top: 10px;
    margin-left: 2px;
    padding: 0;
}

#get_started_button {
    margin: 0;
    color: black;
    padding: 8px;
    background-color: var(--color1);
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    text-align: center;
    font-size: 0.8rem;
}

#get_started_button:hover {
    background-color: var(--color5);
}

/* Register */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 86vh;
}

#lady_image {
    width: 50%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}



#lady_image img {
    width: 100%;
    margin: 0;
    padding: 0;
}

#register_section {
    width: 50%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#error {
    height: 0;
    font-size: 1rem;
    color: #ff9945;
}

.rlogin_box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: var(--color3);
    height: 400px;
    max-height: 400px;
    min-height: 350px;
    width: 350px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
    position: relative;
}

.rlogin_box h1 {
    margin: 0;
    color: white;
    font-size: 2rem;
}

.rlogin_box input {
    margin: 5px;
    width: 250px;
    color: var(--color4);
    background: var(--color2);
    border: none;
    border-radius: 5px;
}

.rlogin_box p,
.rlogin_box a {
    font-size: 0.7rem;
    height: 0;
    margin: 0;
    padding: 0;
    color: var(--color4);
}

.rlogin_box p {
    width: 265px;
    margin: 0;
    padding: 0;
    text-align: right;
}

.rlogin_box a {
    color: var(--color1);
    cursor: pointer;
}

.rlogin_box button {
    margin: 20px 0;
    margin-top: 25px;
}

#social_media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#social_media a {
    height: 30px;
    margin: 0 10px;
}

#social_media a img {
    height: 30px;
    margin: 0;
    padding: 0;
}

/* Index.php */

#mainBody section {
    margin: 0;
    padding: 0;
    margin-top: 3.8vh;
    height: 89vh;
    box-shadow: var(--shadow);
    border-radius: 10px;
    display: flex;
}

#hook_content {
    padding: 40px;
    width: 50%;
    position: relative;
}

#hook_text {
    color: var(--color4);
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

#hook_text span {
    font-family: "Merienda";
    font-weight: 900;
    color: var(--color1);
}

#usercount {
    font-size: 3rem;
    font-weight: bold;
    color: var(--color4);
    margin: 0;
    padding: 0;
}

#count {
    color: var(--color1);
    font-size: 3rem;
    margin: 0;
    padding: 0;
}

#sign_up{
    margin: 0;
    margin-top: 10px;
}

#signup_input input {
    width: 200px;
    border: none;
    background: var(--color3);
    border-radius: 5px;
}

#data_content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card{
    width : 450px;
    background: var(--card_color);
    height: 300px;
    box-shadow: var(--shadow);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#recent_users p{
    color : white;
    font-size: 2.5rem;
    margin: 0;
}

#table_container
{
    margin: 0;
    padding: 0;
    height: 200px;
}

table{
    color : white;
}

th,td
{
    width: 210px;
    min-width: 210px;
    text-align: center;
}

th{
    color: var(--color5);
    font-size: 1.1rem;
    font-weight: 300;
}

#analytics{
    flex-direction: row;
}

#analytics p span{
    color : var(--color1);
    font-family: "Merienda";
    font-weight: 900;
    margin: 0;
    padding: 0;
}

#analytics p{
    color: var(--color4);
    margin: 0 10px 0 0;
    padding: 0;
    font-size: 1.91rem;
}

#analytics img{
    height: 100%;
    margin: 0;
    padding: 0;
}

#useCase{
    position: relative;
    justify-content: center;
    align-items: center;
}

.heading{
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    color: var(--color4);
    font-weight: 700;
}

.heading p{
    font-size: 3rem;
}

#useCase img{
    height: 500px;
}

#to{
    position:absolute;
    transform: translateX(-60px);
}

#to img{
    width: 200px;
}

#digital, #physical{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#physical p, #digital p{
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--color5);
}

#about-section{
    position: relative;
    justify-content: space-around;
    align-items: center;
}

#aboutinfo, #qualification{
    width : 400px;
    height: 400px;
    background: var(--card_color);
    box-shadow: var(--shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#my_image{
    margin: 0;
    padding: 0;
    border-radius: 50%;
    background: var(--color3);
    border: 10px solid var(--color1);
    height: 300px;
}

#aboutinfo span{
    color: var(--color1);
}

#imgandname{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#imgandname p{
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--color5);
}

#aboutinfo p, #qualification p{
    font-size: 1.5rem;
    color: var(--color4);
    text-align: center;
}

#qualification img{
    box-shadow: var(--shadow);
    border-radius: 10px;
    height: 80px;
    margin: 5px;
    padding: 10px;
    transition: 0.2s ease-in-out;
}

#qualification img:hover{
    transform: scale(1.1);
}

#qualification{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

#row1, #row3{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.html{
    margin: 0;
    padding: 0;
    height: 0;
    transform: translateY(-30px);
}